import /vendor/etc/init/hw/init.low_performance.rc
import /vendor/etc/init/hw/init.mainline.rc

# Block devices
on early-fs
    symlink /dev/block/by-name/BIOS /dev/block/by-name/BIOS_a
    symlink /dev/block/by-name/BIOS /dev/block/by-name/BIOS_b
    symlink /dev/block/by-name/EFI /dev/block/by-name/EFI_a
    symlink /dev/block/by-name/EFI /dev/block/by-name/EFI_b

# Boot manager
service vendor.grub-editenv-set-android_theme /vendor/bin/grub-editenv /mnt/vendor/persist/grubenv set android_theme=${persist.sys.theme}
    user system
    group system
    disabled
    oneshot

on property:persist.sys.theme=*
    start vendor.grub-editenv-set-android_theme

# Display
on early-init
    setprop ro.sf.lcd_density ${ro.boot.lcd_density:-160}

# Firmware
on early-init
    mount vfat /dev/block/by-name/firmware /vendor/firmware_mnt rw shortname=lower,uid=0,gid=1000,dmask=007,fmask=117,context=u:object_r:firmware_file:s0
    write /sys/module/firmware_class/parameters/path /vendor/firmware_mnt/

# Graphics
on property:ro.vendor.graphics=mesa
    setprop ro.hardware.egl mesa

on property:ro.vendor.graphics=mesa_angle
    setprop ro.hardware.egl angle
    setprop ro.opengles.version 196609

on property:ro.vendor.graphics=mesa_swrast
    setprop ro.hardware.egl mesa
    setprop ro.hardware.vulkan lvp_mesa3d
    setprop ro.opengles.version 196610
#    setprop ro.surface_flinger.native_window_buffers_format 5
    setprop vendor.mesa.android.no.kms.swrast true
    setprop vendor.mesa.libgl.always.software true

on property:ro.vendor.graphics=swiftshader
    setprop ro.cpuvulkan.version 4206592
    setprop ro.hardware.egl angle
    setprop ro.hardware.vulkan pastel
    setprop ro.opengles.version 196609
#    setprop ro.surface_flinger.native_window_buffers_format 5

on early-boot && property:ro.boot.hwui_renderer=*
    setprop debug.hwui.renderer ${ro.boot.hwui_renderer}

on early-boot && property:ro.vendor.graphics.gpu=vkms
    setprop ro.vendor.graphics ${ro.boot.graphics:-swiftshader}

# VirtWifi
on post-fs-data && property:ro.boot.wifi_impl=virt_wifi
    start setup_wifi

# ZRAM
on zygote-start && property:ro.boot.zram=*
    setprop persist.sys.zram_enabled ${ro.boot.zram}
